body {
	font-family: Helvetica;
	color      : #111111;
	padding-top: 1em;
}

main {
	display  : block;
	max-width: 51em;
	margin   : 2em auto;
}

main h1 {
	margin-left: 5em;
}

main table * {
	vertical-align: text-top;
}

main table th {
	text-align: right;
	padding   : 0.3em 0.8em;
	max-width : 20em;
}

main table td {
	max-width: 30em;
}

main table ul {
	list-style: none;
	margin    : 0;
	padding   : 0;
}

main table ul li.reference {
	margin-bottom: 0.5em;
}

main table p {
	margin: 0;
}

main table p.project-year {
	font-size: 90%;
}


footer {
	width : 25em;
	margin: 0 auto;

	font-size: 75%;
	opacity  : 0.85;
}

footer table * {
	vertical-align: text-top;
}

footer table th {
	text-align: right;
	padding:    0.3em 0.8em;
}

footer table p {
	margin: 0;
}

hr {
	width : 25em;
	margin: 3em auto;
}

a {
	font-weight: bold;
	color:     #1010c0;
}
